.containerMovies{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 0.2rem;
  background-color: rgba(57, 57, 57, 0.576);
  height: 100%;
  padding: 1rem;
}
.allMoviesImage{
  height: 100%;
  width: 100%;
  border-radius:0.2rem;
  transition: 0.2s;
  cursor: pointer;
  z-index: 3;
  align-self: center;
}


.allMoviesImage:hover{
  opacity: 0.1;
  z-index: 2
}
.notImage{
  width: 20%;
  margin-bottom: 1rem;
  filter:invert(1);
}

li > .notImage{
  width: 20%;
  opacity:0.7;
  align-self: flex-start;
  margin-top: 4rem;
}

li{
  display:flex;
  justify-content: center;
  align-items: end;
  width: 160px;
  height: 220px;
  margin: 5px 5px;
  position: relative;
  list-style-type: none;
}
.dataMovie{
  color:white;
  position: absolute;
  z-index: 2;
  margin-bottom: 0.7rem;
  width: 140px;
  pointer-events: none;
}

.backward img{
  width: 20px;
  background-color: transparent;
}
.backward{
  background-color: transparent;
  border: none;
  filter: invert(1);
  transform: rotateY(180deg);
  left: 3vw;
  transition: 0.2s ease-out
}
.backward:hover{
  transform: rotateY(180deg) scale(1.2)
}
.forward img{
  width: 20px;
  background-color: transparent;
}
.forward{
  background-color: transparent;
  border: none;
  filter: invert(1);
  right: 3vw;
  transition: 0.2s ease-out
}
.forward:hover{
  transform: scale(1.2)
}

.backward, .forward{
  position: absolute;
  cursor: pointer;
  padding:0.5rem
}
