* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.showMovies {
  display:flex;
  align-items: center;
}
.hiddenMovies {
  display: none;
}
h1 {
  color: white;
}
.titleMain {
  font-weight: 500;
  font-size: 7vh;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
  filter: drop-shadow(0px 0pxs 5px rgb(126, 84, 222));
}
.titleMain::first-letter {
  color: rgb(126, 84, 222);
}
.titleMain:hover {
  transform: scale(1.2);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4%;
  width: 86.2vw;
  color: white;
}
