@import "../../../styles/colors.scss";

.headerContainer{
  background: rgb(28, 28, 28);
  padding: 25px 30px;
  line-height: 1;
  
  h1{
    font-weight: 500;
    
    &::first-letter{
      color: $primary-color;
    }
  }
}