*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1{
  color: white;
}

.totalResults{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonsPages{
  width: 100%;
  display: flex;

  justify-content: space-between;
  padding: 0px ;
  align-items: center;
  margin-top:10px
}
.titleMain{
  font-weight: 500;
  font-size:7vh;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgb(126,84,222));
}
.titleMain::first-letter{
  color: rgb(126,84,222);
}
.titleMain:hover{
  transform: scale(1.2);
}
.dataMovie{
  color:white;
  position: absolute;
  z-index: 2;
  margin-bottom: 0.7rem;
  width: 140px;
  pointer-events: none;
}


form{
  width: 100%;
  height: 40px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 3%;
  box-shadow: 2px 2px 7px rgb(0, 0, 0);
}
input{
  width:100%;
  height:100%;
  outline: rgb(126,84,222);
  color: rgb(48, 48, 48);
  padding: 0px 12px;
  outline:none;
  border: none;
  font-size: 1.3rem;
  
}
input:focus-visible{
  border: 1px solid rgb(126,84,222);
}
input::placeholder{
  font-size: 1rem
}
.btnSearch{
  width: 80px;
  height: 100%;
  align-items: center;
  cursor: pointer;
  background-color:rgb(126,84,222);
  color:white;
  border: none
}

.notFoundMovie{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  margin-top:3rem
}


.container{
  display:flex;
  align-items:center;
  flex-direction:column;
  margin-top: 4%;
  width: 86.2vw;
  color: white;
}
.containerMovies{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 0.2rem;
  background-color: rgba(57, 57, 57, 0.576);
  height: 100%;
  padding: 1rem;
}
.allMoviesImage{
  height: 100%;
  width: 100%;
  border-radius:0.2rem;
  transition: 0.2s;
  cursor: pointer;
  z-index: 3;
  align-self: center;
}


.allMoviesImage:hover{
  opacity: 0.1;
  z-index: 2
}
.notImage{
  width: 20%;
  margin-bottom: 1rem;
  filter:invert(1);
}

li > .notImage{
  width: 20%;
  opacity:0.7;
  align-self: flex-start;
  margin-top: 4rem;
}

li{
  display:flex;
  justify-content: center;
  align-items: end;
  width: 160px;
  height: 220px;
  margin: 5px 5px;
  position: relative;
}


li{
  list-style-type: none;
}